* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #FFEDD5;
  --color-background-h2: #FED7AA;
  --color-logo-secundaria: #995000;
  --color-logo-primary: #2D2C2A;
  --color-text-simple: rgba(0, 0, 0, 0.7);

  --font-title: 'Roboto Serif', serif;
  --font-text-secundary: 'Roboto', sans-serif;
}

body {
  background: var(--primary-color);
}

ul {
  list-style: none;
}

header {
  max-width: 300px;
  
  padding: 2rem 0;
  margin: 0 auto;/*0 em cima e em baixo, automático dos lados*/
  text-align: center;
}

header,
section {
  max-width: 300px;
  margin: 0 auto;
}

header h1 {
  color: var(--color-logo-primary);
  
  text-transform: uppercase;
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
}

header h1 span {
  color: var(--color-logo-secundaria);
}

header p {
  margin-top: 4px;

  color: var(--color-logo-primary);

  font-family: var(--font-text-secundary);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

section {
  margin-bottom: 24px;
}

section h2 {
  background: var(--color-background-h2);

  padding: .3rem 2rem;
  margin-bottom: 2rem;

  text-align: center;

  color: var(--color-logo-primary);
  
  text-transform: uppercase;
  font-family: var(--font-title);
  font-size: 1.2rem;

}

.departament {
  border: solid 1px rebeccapurple;
}

ul li {
  margin-bottom: 2rem;
  display: flex;

  border: solid 1px red;
}

li .details {
  max-width: 240px;
}

.details h3 {
  margin-bottom: 1rem;
  color: var(--color-logo-primary);

  line-height: 1rem;
  text-transform: uppercase;
  font-family: var(--font-title);
}

ul li p {
  margin-top: 4px;

  color: rgba(0, 0, 0, 0.6);

  font-family: var(--font-text-secundary);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

ul li strong {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 16px;
  
  color: var(--color-logo-primary);  
}

footer {

  height: 42px;

  background: var(--color-logo-secundaria);
  color: var(--color-background-h2);

  text-align: center;
  font-family: var(--font-text-secundary);
  font-size: 15px;

  padding-top: 20px;
}

@media screen and (min-width: 768px){
  body {
    max-height: 30vh;
  }

  .departament {
    height: 30rem;
    width: 50%;
  }

  .details-menu {
    display: flex;
  }

  section h2,
  ul li {
    margin-left: 1rem;
    margin-right: 1rem;
  }

}

@media screen and (min-width: 992px){

}